#contacto ul {
  list-style: none;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#contacto i {
  margin-right: 2rem;
  color: #00af62;
}

#contacto a {
  text-decoration: none;
}

#contacto strong {
  color: rgb(70, 70, 70);
}

#contacto .contacto-text {
  justify-content: space-between;
}
