.somos .somos-description {
    font-family: var(--title-fontfamily);
    font-size: 14px;
    text-align: center;
}

.somos-definicion {
    margin-top: 4rem;
    height: 100%;
}

.somos-definicion .somos-card {
    position: relative;
    border: 1px solid #00AF62;
    border-radius: 10px;
    padding: 2rem 1rem 1rem;
    text-align: center;
    height: 100%;
    background-color: rgb(244,251,236);
}

.somos-definicion .somos-card .somos-card_title {
    font-family: var(--third-fontfamily);
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: black;
    margin: 0;
}

.somos-definicion .somos-card .somos-card_text {
    font-family: var(--title-fontfamily);
    font-size: 12px;
}

.somos-definicion .somos-card .somos-card_img {
    width: 24px;
}

@media screen and (max-width: 769px) {
    .somos-definicion {
        margin-top: .5rem;
    }

    .somos-definicion article {
        padding: 0 30px;
    }
  }