a {
    text-decoration: none;
}

.card{
    border:none;
    width: 270px;
}

.card .card-text {
    font-size: 14px;
    line-height: 21px;
    font-family: var(--title-fontfamily);
    color:black;
}

.card .text-muted {
    font-size: 14px;
}

.card .card-text-name{
    font-size: 18px;
    line-height: 21px;
    font-family: var(--title-fontfamily);
    color:black;
}