.top-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background: white;
}

.top-header .top-header_brand {
    width: 4rem;
    height: 4rem;
}

@media (max-width: 769px) {
    .top-header svg {
        width: 2rem;
        height: 2rem;
    }
}


.top-header .top-header_turno {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--main-color);
    font-family: var(--title-fontfamily);
    font-size: 16px;
    font-weight: 700;
}

@media (max-width: 769px) {
    .top-header .top-header_turno {
        display: none;
    }
    .navbar {
        padding: 0 !important;
     }
    .navbar-toggler {
        border: none;
        color: var(--main-color) !important;
    }
}

.top-header .top-header_turno p {
    margin: 0;
}

.navbar-item {
    padding: 0 24px;
}

.navbar-item .navbar-link {
    color: black;
    text-decoration: none;
    font-family: var(--title-fontfamily);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.navbar-item .dropmenu {
    cursor: pointer;
}

.navbar-item .navbar-link_active {
    color: #228A5C;
    font-weight: 600;
}

.navigation {
    flex: 1;
}

.navigation .menu-tratamientos {
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    font-family: var(--title-fontfamily);
    background-color: #fff;

}

.navigation .menu-tratamientos .tratamientos-container {
    height: 100%;
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation .menu-tratamientos .tratamientos-container .tipo-tratamiento {
    font-family: var(--title-fontfamily);
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    color: black;
}

.navigation .menu-tratamientos .tratamientos-container .tratamiento {
    font-size: 14px;
    padding: 10px 0;
}

.navigation .menu-tratamientos .tratamientos-container .tratamiento .tratamiento-link {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    color: black;
}