header {
    border-bottom: 1px solid #228A5C;
    background-color: rgb(244,251,236) !important;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(35, 139, 92)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:focus{
    box-shadow: none;
}
.top-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    /* background: white; */
}

.top-header .top-header_brand {
    width: 4rem;
    height: 4rem;
}

@media (max-width: 769px) {
    .top-header svg {
        width: 2rem;
        height: 2rem;
    }
}


.top-header .top-header_turno {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--main-color);
    /* font-family: var(--title-fontfamily); */
    font-family: var(--fifth-fontfamily);
    font-size: 16px;
    font-weight: 700;
}

@media (max-width: 769px) {
    .top-header .top-header_turno {
        display: none;
    }
    .navbar {
        padding: 0 !important;
     }
    .navbar-toggler {
        border: none;
        color: var(--main-color) !important;
    }
}

.top-header .top-header_turno p {
    margin: 0;
}

.navbar-item {
    padding: 0 24px;
}

.navbar-item .navbar-link {
    color: black;
    text-decoration: none;
    font-family: var(--title-fontfamily);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.navbar-item .navbar-link:hover {
    color: #228A5C;
    font-weight: bold;
}

.navbar-item .dropmenu {
    cursor: pointer;
}

.navbar-item .navbar-link_active {
    color: #228A5C;
    font-weight: 600;
}

.navigation {
    flex: 1;
}

.navigation .menu-tratamientos {
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    font-family: var(--title-fontfamily);
    background-color: rgb(244,251,236) !important;
    z-index: 1;
}

.navigation .menu-tratamientos .menu_close_button {
    position: absolute;
    right: 10%;
    top: 10%;
    cursor: pointer;
}

.navigation .menu-tratamientos .tratamientos-container {
    height: 100%;
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation .menu-tratamientos .tratamientos-container .tipo-tratamiento {
    font-family: var(--title-fontfamily);
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    color: black;
}

.navigation .menu-tratamientos .tratamientos-container .tratamiento {
    font-size: 14px;
    padding: 10px 0;
}

.navigation .menu-tratamientos .tratamientos-container .tratamiento .tratamiento-link {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    color: black;
}

.navigation .menu-tratamientos .tratamientos-container .tratamiento .tratamiento-link:hover {
    font-weight: bold;
}

.top-header-sm {
    border-bottom: 1px solid #228A5C;
}

.navigation-sm {
    width: 100%;
}
.navbar-collapse-sm {
    position: absolute !important;
    height: calc(100vh) !important;
    padding: 2rem 1.5rem;
    text-align: start !important;
    background-color: rgb(244,251,236) !important;
}
.navigation-sm .menu-tratamientos-sm {
    position: absolute;
    left: 0;
    top: 59px;
    width: 100%;
    height: calc(100vh - 70px);
    font-family: var(--title-fontfamily);
    background-color: rgb(244,251,236) !important;
    padding: 2rem;
}

.navbar-collapse-sm  .navbar-nav .navbar-link{
    font-size: 1.5rem;
    color: #666;    
}

.navbar-collapse-sm  .navbar-nav .navbar-item{
    margin-bottom: 1.5rem;
    padding: 0;
}

.navbar-collapse-sm .divider {
    border: 1px solid var(--main-color);
}

.navigation-sm .menu-tratamientos-sm .navbar-link{
    font-size: 1.5rem;
    color: #666;    
}
.navigation-sm .menu-tratamientos-sm .navbar-item{
    padding: 0;
    color: #666;    
}

.menu-tratamientos-sm .divider {
    border: 1px solid var(--main-color);
}

.menu-tratamientos-sm .tratamiento-link {
    color: #666;    
    font-weight: 600;
    padding: 0 1rem;
}

.top-header  .text-num {
    text-decoration: none !important;
    color: #228A5C;
    cursor: pointer;
}