.footer {
    background: #1A4DBC;
    color: white;
    font-family: var(--title-fontfamily);
    font-size: 12px;
    padding: 2.5rem;
}

.footer .footer-title {
    font-size: 14px;
}

.footer .footer-social{
    margin-right: 1rem;
}

.footer-item {
    text-decoration: none !important;
    color: #fff;
    display: block;
    margin-bottom: 1rem;
}

@media (max-width: 769px) {
    .footer-tratamientos {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-tratamientos .fa-solid .rotate{
        transform: rotate(180deg);
    }  
}

.text-num {
    text-decoration: none !important;
    color: white;
    cursor: pointer;
}